<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/master.css">
    <style>

    </style>

</head>

<body>
    </div>
    <div class="container" style="background-color: black;">
        <ul class="nav nav-tabs d-flex" id="myTab" role="tablist">
            <li class="nav-item w-50" >
                <button class="nav-link  active d-flex justify-content-center w-100" id="Followers-tab" data-bs-toggle="tab"
                    data-bs-target="#Followers" type="button" role="tab" aria-controls="Followers" aria-selected="true">Followers
                    <span class="btn font-weight-bold  d-flex align-items-center px-1 mx-2"
                        style="font-size: 8px; height: 15px; background-color: #E4FA71; padding: 2px;">1,920

                    </span>
                </button>
            </li>
            <li class="nav-item w-50" >
                <button class="nav-link d-flex justify-content-center w-100" id="Following-tab" data-bs-toggle="tab"
                    data-bs-target="#Following" type="button" role="tab" aria-controls="Following"
                    aria-selected="false">Following
                    <span class="btn font-weight-bold  d-flex align-items-center px-1 mx-2"
                        style="font-size: 8px; height: 15px; background-color: #ada2d9; padding: 2px;">1,920

                    </span>
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="Followers" role="tabpanel" aria-labelledby="Followers-tab">
                <iframe class="w-100" src="./Followers.html"></iframe>
            </div>
            <div class="tab-pane fade" id="Following" role="tabpanel" aria-labelledby="Following-tab">
                <iframe class="w-100" src="./Following.html"></iframe>

            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>